@()

@main {
  <div style="padding-top: 20px; padding-left: 40px; padding-right: 40px;">
    <h3><p align=center>(WIP) Fractals</p></h3>
    <p align=center>
      <a href="https://pknipp.github.io/math">Return</a>
      to the Math APIs page.
      </br>
      creator:&nbsp;
      <a
          href="https://pknipp.github.io/"
          target="_blank" rel="noopener noreferrer"
      >
          Peter Knipp
      </a>
      <br/>
      repo:&nbsp;<a
          href="https://github.com/pknipp/fractal"
          target="_blank"
          rel='noopener
          noreferrer
      '>
          https://github.com/pknipp/fractal
      </a>
    </p>
    <p>
      <b>Background:</b> The <a href="https://en.wikipedia.org/wiki/Mandelbrot_set" target='_blank' rel='noopener noreferrer'>Mandelbrot set</a> is an example of a
      <a href="https://en.wikipedia.org/wiki/Fractal" target='_blank' rel='noopener noreferrer'>fractal</a> that arises from a simple mapping on the complex plane:
      <p align=center>
        <i>f<sub>c</sub></i>(<i>z</i>) = <i>z</i><sup>2</sup> + <i>c</i>
      </p>
      The set contains all complex numbers <i>c</i> for which infinite iterative calls of this function do not diverge.  These are indicated as black cells by this app.  The boundary of this set is fractal because it displays the same structure at all length-scales.
    </p>
    <p>
      <b>Controls:</b>
        <ul>
          <li>resolution: (approximate) number of hexagonally shaped cells along the radius of the viewing area of the complex plane</li>
          <li>iterations: number of times that the mapping is iterated before determining if it has diverged (ie should be excluded the set)</li>
          <li>magnification: number of times that the resolution has doubled</li>
        </ul>
      <b>Instructions:</b> After <tt>...herokuapp.com</tt> above you should type
      <br>
      <tt>/&langle;resolution&rangle;/&langle;iterations&rangle;/&langle;magnification&rangle;/&langle;center&rangle;</tt>, in which the first three inputs are defined above and <tt>center</tt> is the real and imaginary parts (aka coordinates) of the complex number at the center of the viewing area.
      The easiest way to control this app, however, is via buttons.  For instance the button below generates the url <tt>...heroku.com/20/40/0/(0,0)</tt>.
      <br>
      <button id="render-mandelbrot-set">Render example.</button>
  </div>

  <script>
    let button = document.getElementById("render-mandelbrot-set");
    const renderSet = () => {
      window.location.href = "https://fractal-examples-e4144646641a.herokuapp.com/20/40/0/(0,0)";
    };
    button.addEventListener("click", e => renderSet());
  </script>
}
